## Python
#########
*.py[co]

# Packages
*.egg*
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
coverage.xml
.coverage
.tox

#Mr Developer
.mr.developer.cfg

# Virtualenvs
/venv
.venv*
.cache/

# IDE junk
/.idea

# SQLite test db
/db.sqlite3
